<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Preguntas Frecuentes</title>
    <link rel='stylesheet' href='./style.css'>
</head>
<body>
    <div class='container'>
        <div class='row'>
            <div class='container-faq'>
                <div class='title-faq'>
                    <h3>Preguntas Frecuentes</h3>
                </div>

                <div class='item-faq'>
                    <div class='question'>
                        <h3>¿Que diferencia existe entre ecología y ecologismo?<span>Q</span></h3>
                        <div class="more"><i>+</i></div>
                    </div>
                    <div class='answer'>
                        <p>La ECOLOGIA es una ciencia que estudia las relaciones reciprocas de los 
                         organismos entre sí y con el medio ambiente que los rodea. El ECOLOGISMO 
                         estudia el uso de los recursos naturales y la contaminación.<span>A</span></p>
                    </div>
                </div>

                <div class='item-faq'>
                    <div class='question'>
                        <h3>¿Que es un ecosistema?<span>Q</span></h3>
                        <div class="more"><i>+</i></div>
                    </div>
                    <div class='answer'>
                        <p>Un ecosistema es el conjunto de seres vivos y factores abióticos que interaccionan en un 
                        determinado tiempo y espacio.<span>A</span></p>
                    </div>
                </div>

                <div class='item-faq'>
                    <div class='question'>
                        <h3>¿Cuáles son los componentes de una cadena trófica?<span>Q</span></h3>
                        <div class="more"><i>+</i></div>
                    </div>
                    <div class='answer'>
                        <p>la cadena trófica Ala componen los PRODUCTORES, los CONSUMIODRES PRIMARIOS o HERVIBOROS, 
                        los CONSUMIDORES SECUNDARIO o CARNIVOROS y los DEGRADADORES o DESCOMPONEDORES.<span>A</span></p>
                    </div>
                </div>

                <div class='item-faq'>
                    <div class='question'>
                        <h3>¿Que fluye en los ecosistemas y con quien se relacionan?<span>Q</span></h3>
                        <div class="more"><i>+</i></div>
                    </div>
                    <div class='answer'>
                        <p>En los ecosistemas, lo fue fluye es la ENERGIA la cual se interrelaciona con la materia.<span>A</span></p>
                    </div>
                </div>

                <div class='item-faq'>
                    <div class='question'>
                        <h3>¿A que se le llama ciclos biogeoquímicos?<span>Q</span></h3>
                        <div class="more"><i>+</i></div>
                    </div>
                    <div class='answer'>
                        <p>Los minerales y en especial cada elemento químico que circula en la biosfera de modo particular da origen a un 
                        ciclo llamado biogeoquímico..<span>A</span></p>
                    </div>
                </div>

            </div>
        </div>    
    </div>


    <script src= './scripts.js'></script>
    
</body>
</html>